*{
  box-sizing: border-box;
  position: relative;
}
.body{
  margin: 0;
  padding: 0;
  bottom: 0;
}
.footer{
  display: flex;
  background: #7bee4d;
  height: 150px;
  margin-top: 100px;
  text-align: left;
  margin-bottom: 0;
  position: relative;
}
.footer>img{
  max-width: 100px;
  position: absolute;
  left: 50px;
  top: 25px;
}
.footer_rightside{
  position: absolute;
  left: 250px;
}
.footer_links{
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer_links::before{
  content: '';
  background: orangered;
  height: 125px;
  width: 5px;
  position: absolute;
  left: -50px;
  top: -40px;
  border-radius: 20px;
}
.footer_rightside>h3{
  font-size: 1rem;
}
.footer_rightside>h3::after{
  content: '';
  background: orangered;
  height: 4px;
  width: 90px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  border-radius: 20px;
}
.footer_links>a{
  text-decoration: none;
  color: black;
  padding: 3px 0px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: transform 400ms ease-in-out;
}
.footer_links>a:hover{
   transform: scale(1.25);
}
@media only screen and (max-width:768px){
  
  .footer{
    height: 175px;
  }
  .footer>img{
    width: 100px;
    top: 37.5px;
  }
  .footer_rightside>h3{
    font-size: 0.9rem;
  }
  .footer_rightside{
    top: 10px;
    left: 200px;
  }
  .footer_links::before{
    width: 5px;
    height: 125px;
  }
  .footer_links>a{
    font-size: 0.85rem;
  }
}