.App {
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

.wrapper{
  width: 70%;
  position: relative;
  margin-left: 16.5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color:aliceblue;
  border: none;
  border-radius: 10px;
  box-shadow: 20px 20px 10px grey; 
  margin-bottom: 25px;
  overflow: hidden;
  padding: 10px 10px;
}
.wrapper>img{
  width: 50%;
  border-radius: 10px;
}
.wrapper>h3{
  font-size: 24px;
  font-weight: 600;
}